@page "/"

<h1>Work In Progress</h1>

<p>This site will be used for me to play around with Blazor.</p>

<p>For more information, check out <a href="https://blazor.net" target="_blank">blazor.net</a></p>

<p>The full source for this app can be found at <a href="https://github.com/Arkaedan/BlazorTest" target="_blank">github.com/Arkaedan/BlazorTest</a></p>